doctype html
html(lang="en")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript').
            console.log ( 'rendering view from Pug' );
    body
        h1=title
        #container.col
            p.
                A simple REST API in
            block content
